avatars.service.*:
  type: config_entity
  label: 'Avatar Service configuration'
  mapping:
    id:
      type: string
      label: 'Unique identifier'
    label:
      type: label
      label: 'User friendly label.'
    weight:
      type: integer
      label: 'Fallback weight'
    plugin:
      type: string
      label: 'ID of avatar service plugin'
    settings:
      type: avatars.avatar_service.settings.[%parent.plugin]

avatars.avatar_service.settings.*:
  type: mapping
  mapping: []

avatars.avatar_service_common_base:
  type: mapping
  mapping:
    width:
      type: integer
    height:
      type: integer

avatars.entity_mapping.*.*.*:
  type: config_entity
  label: 'Avatar Service configuration'
  mapping:
    id:
      type: string
      label: 'ID'
    entity_type:
      type: string
      label: 'Entity type'
    bundle:
      type: string
      label: 'Bundle'
    field_name:
      type: string
      label: 'Field name'

field.field.*.*.*.third_party.avatars:
  type: mapping
  label: 'Avatar field settings'
  mapping:
    hash:
      type: mapping
      label: 'Hash'
      mapping:
        contents:
          label: 'Contents'
          type: string
